@page "/checklist"

<PageTitle>.NET Community: Checklist</PageTitle>

<div class="content fs-5">
    <h1>📋 Come prepared</h1>
    <p>
        Before you "go live", consider the following checklist:
    </p>
    <ul class="list no-bullets p-0 pt-1">
        @foreach (var task in _tasks)
        {
            var item = new TaskItem(task);
            <li>
                <SessionCheckBox Item=@item />
            </li>
        }
    </ul>
</div>

@code {
    readonly string[] _tasks = new[]
    {
        "🎙️ Use a dedicated microphone if possible",
        "🎧 Wear headphones to avoid echo and feedback",
        "📹 Use a reliable webcam",
        "🔦 Ensure you have good lighting",
        "💻 <b>Reboot</b> your machine",
        "🔕 Silence (<i>or</i> temporarily disable notifications)",
        "⛔ Set status as \"Do not disturb\"",
        "🕥 Arrive at least 15 minutes early",
        "🔗 Follow the <a href='https://streamyard.com/resources/docs/guest-instructions/' target='_blank'>Guest Instructions</a> from Stream<b>Yard</b>.",
        "💪🏽 Strong internet connection, wired connection if possible",
        "🕵️‍ Enable private browsing (Incognito/InPrivate mode) in your web browser",
        "📃 You've read the <a href='/codeofconduct'>Code of Conduct</a>.",
    };
}