@page "/checklist"

<PageTitle>.NET Community: Checklist</PageTitle>

<div class="content fs-5">
    <h2>📋 Come prepared</h2>
    <p>
        You'll need a headset with a microphone, or a dedicated microphone and headphones. Using headphones helps to ensure that there isn't an echo, or feedback.
    </p>
    <p>
        You'll need a reliable webcam, and you should be in a well-illuminated room. Beyond the immediately obvious, we have a few more things to consider.
    </p>
    <ul class="list no-bullets pl-0 pt-1">
        <li>💻 <b>Reboot</b> your machine</li>
        <li>🔕 Silence (<i>or</i> temporarily disable notifications)</li>
        <li>⛔ Set status as "Do not disturb"</li>
        <li>🕥 Arrive at least 15 minutes early</li>
        <li>🔗 Follow the <a href='https://streamyard.com/resources/docs/guest-instructions/' target='_blank'>Guest Instructions</a> from Stream<b>Yard</b>.</li>
        <li>💪🏽 Strong internet connection, wired connection if possible</li>
        <li>🕵️‍ Enable private browsing (Incognito/InPrivate mode) in your web browser</li>
    </ul>
</div>
