@page "/codeofconduct"
@inject HttpClient Http

<PageTitle>.NET Community: Code of Conduct</PageTitle>

<div class="content fs-5">
    <pre class="text-light bg-dark p-4">
        <code>// TODO: add code of conduct
        </code>
    </pre>
</div>