@page "/"
@page "/home"

<PageTitle>.NET Community: Home</PageTitle>

<MudText Typo=Typo.h2>Hi friends!</MudText>
<MudText Typo=Typo.body1>
    Welcome to the .NET Community page. The site contains a <a href="checklist">Streaming Checklist</a> to help prepare for a
    live or pre-recorded <a href="http://dot.net/live" target="_blank">.NET TV</a> shows. We also publish
    a <a href="codeofconduct">Code of Conduct</a> as a shared set of Community Guidelines.
</MudText>

<MudCarousel Class="mud-width-full"
    BulletsColor=Color.Primary Style="height: 70vh;"
    AutoCycle="true" TData="ImageAltPair" Context="image"
    ItemsSource=@_images AutoCycleTime=@TimeSpan.FromSeconds(8)>
    <ItemTemplate>
        <div class="d-flex flex-grow-1 pa-4">
            <MudImage Fluid="true" Src=@($"community-{image.Id}.svg") 
                Alt=@image.Alt Class="rounded-lg mx-auto my-auto"/>
        </div>
    </ItemTemplate>
</MudCarousel>

@code {
    HashSet<ImageAltPair> _images = new()
    {
        new(1, "Remote conference experience."),
        new(2, "Smile community friends."),
        new(3, "Drone flying fun."),
        new(4, "Camera crew."),
        new(5, "Juggling all the things."),
    };

    readonly record struct ImageAltPair(int Id, string Alt);
}